table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(63, 63, 255);
    color: rgb(255, 255, 255);
}

td {
    background-color: #f0f0f0;
}

.input {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.button {
    display: flex;
    justify-content: center;
}

.form-floating {
    display: flex;
    flex-wrap: wrap;
}

.tables {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.incomeText {
    color: blue;
}

.consumptionText {
    color: blue;
}

.checkboxAddText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
}

.bi {
    font-size: 28px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.buttonIcons {
    margin-right: 10px;
}

.numberOfPeriods {
    font-size: 10px;
    margin-left: 15px;
    height: 18px;
}

.custom-btn {
    background: none; 
    border: none; 
    color: black;
    font-size: 7px; 
    cursor: pointer; 
}

.custom-btn i {
    color: black; 
}

.incomeCheck {
    cursor: pointer;
}

.consumptionCheck {
    cursor: pointer;
}

.modal-lg {
    max-width: 90%;
}

.canvas-wrapper {
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: row;
}

.table3 {
    margin-top: 5px;
}

.deleteCopy {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.plan {
    color: blue;
    text-align: center;
    cursor: pointer;
}

.plans {
    text-decoration: none;
}

.PlanB {
    display: none;
}