table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.tableIncomeBody {
  flex-grow: 1;
}

.tableConsumptionBody {
  flex-grow: 1;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(63, 63, 255);
  color: rgb(255, 255, 255);
}

td {
  background-color: #f0f0f0;
}

.input {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.button {
  display: flex;
  justify-content: center;
}

.form-floating {
  display: flex;
  flex-wrap: wrap;
}

.tables {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.incomeText {
  color: blue;
  text-align: center;
}

.consumptionText {
  color: blue;
  text-align: center;
}

.bi {
  font-size: 28px;
  cursor: pointer;
  color: white;
  text-align: center;
}

.buttonIcons {
  margin-right: 10px;
}

.numberOfPeriods {
  font-size: 10px;
  margin-left: 15px;
  height: 18px;
}

.custom-btn {
  background: none;
  border: none;
  color: black;
  font-size: 7px;
  cursor: pointer;
}

  .custom-btn i {
    color: black;
  }

.incomeCheck {
  cursor: pointer;
}

.consumptionCheck {
  cursor: pointer;
}

.modalBase {
  color: #333;
}

.highlight {
  color: #d35400;
  font-weight: bold;
}

.ulBase {
  padding-left: 20px;
}

.exampleBase {
  background: #e8f6ff;
  padding: 10px;
  border-left: 4px solid #007acc;
  margin: 10px 0;
}

.table3 {
  margin-top: 10px;
}

.plan {
  color: blue;
  text-align: center;
  cursor: pointer;
}

.PlanB {
  display: none;
}

.spinner {
  font-size: 50px;
  font-weight: bold;
  color: green;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.calcTable {
  margin: 20px;
}

.calcPlan {
  text-align: center;
  font-size: 150%;
}

.calcGroup {
  text-align: left;
  font-size: 110%;
  padding-left: 30px;
  font-weight: bold;
}

.calcResult {
  text-align: left;
  padding-left: 40px;
  color: blue;
}

.calcPlanResult {
  font-weight: bold;
}

.calcItem {
  text-align: left;
  padding-left: 50px;
}

.calcValueGood {
  color: green;
}

.calcValueBad {
  color: red;
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkboxAddText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.checkboxAddTextB {
    display: flex;
    align-items: center;
    width: 100%;
  }

.addConsB {
  display: flex;
  justify-content: end;
}  

#canvas-wrapper {
  display: flex;
  justify-content: center;  
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.canvas-size {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
}

.centerdiagram {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.canvas-diagram {
  max-width: 800px;
  width: 100%;
}

.canvas-diagram canvas {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1; 
}